<%# BE SURE TO UPDATE ROUTES FILE TO WORK WITH THIS %>

<% unless current_user?(@user) %>
  <div id="friend_form">
  <% if current_user.friendswith?(@user) %>
    <%= render 'Unfriend' %>
  <% else %>
    <%= render 'Add friend' %>
  <% end %>
  </div>
<% end %>