<% provide(:title, 'All users') %>

<div class= "users_container">
	<div class="users">
	<h1>All users</h1>

<<<<<<< HEAD
	<%= will_paginate %>
=======
<ul class="users">
  <% @users.each do |user| %>
  <%= render @users %>
  <% end %>
</ul>
>>>>>>> 7697ed4b32f9e59e22899fd894ccb910121a0d79

	<ul >
		<%= render @users %>
	</ul>

	<%= will_paginate %>
	</div>
</div>
