<% @user ||= current_user %>
<div class="stats">
  <a href="<%= transactions_user_path(@user) %>">
    <strong id="transaction" class="stat">
      <%= @user.transactions.count %>
    </strong>
    following
  </a>

</div>

